.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  transition: all 0.5s ease;
}

.App.dark {
  background-color: #1c1c1e;
  color: #f2f2f2;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 20px;
}

select {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 20px;
  background-color: #f2f2f2;
  color: #1c1c1e;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #1c1c1e;
  color: #f2f2f2;
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main-div {
  width: 20%;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.main-div:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
}

.main-div.dark {
  background-color: #1c1c1e;
  color: #f2f2f2;
}

h2 {
  margin-top: 0;
}
.navbar h1 {
  margin: 0px 20px;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.img-main {
  height: 200px;
  width: 100%;
}

.img-main img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

.navbar-main {
  width: 100%;
  background-color: gray;
}

.main-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  margin: auto;
}
