.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  transition: all 0.5s ease;
}

.App.dark {
  background-color: #202d36;
  color: #f2f2f2;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}

.nav.dark {
  color: #f2f2f2;
  background-color: #2b3743;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  /* background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center; */
}

select {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 20px;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  color: #1c1c1e;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #1c1c1e;
  color: #f2f2f2;
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main-div {
  width: 20%;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.main-div:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
}

.main-div.dark {
  background-color: #1c1c1e;
  color: #f2f2f2;
}

h2 {
  margin-top: 0;
}
.navbar h1 {
  margin: 0px 20px;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.img-main {
  height: 200px;
  width: 100%;
}

.img-main img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

.navbar-main {
  width: 100%;
  background-color: white;
  color: black;
}
.navbar-main.dark {
  width: 100%;
  background-color: #2b3743;
  color: #f2f2f2;
}

.main-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

p {
  margin: -30px;
  padding: -30px;
}

nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
